<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container">

    <h2 class="text-center text-white">Добави продукт</h2>

    <form th:action="@{/products/add}"
          th:method="POST"
          th:object="${addProductDTO}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="form-group row">
            <label for="name" class="col-sm-10 col-form-label">Име на продукт</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="name"
                       name="name"
                       th:value="${name}"
                       th:field="*{name}"
                       th:errorclass="is-invalid"
                       aria-describedby="nameHelpInline" placeholder="name">
                <small id="usernameHelpInline"
                       class="invalid-feedback bg-danger text-light rounded">
                    Дължината трябва да е минимум 5 сомвола.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-sm-10 col-form-label">Цена</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="price"
                       name="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       aria-describedby="priceHelpInline" placeholder="Price">
                <small id="firstNameHelpInline"
                       class="invalid-feedback bg-danger text-light rounded">
                    Цената трябва да е положително число.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-10 col-form-label">Описание</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="description"
                       name="description"
                       th:field="*{description}"
                       th:errorclass="is-invalid"
                       aria-describedby="descriptionHelpInline" placeholder="Description">
                <small id="lastNameHelpInline"
                       class="invalid-feedback bg-danger text-light rounded">
                    Дължината трябва да е минимум 10 символа.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="img" class="col-sm-10 col-form-label">Снимка</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="img"
                       name="img"
                       th:field="*{img}"
                       th:errorclass="is-invalid"
                       placeholder="Img URL"/>
                <small id="emailHelpInline"
                       class="invalid-feedback bg-danger text-light rounded">
                    Въведете снимка.
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="category" class="col-sm-10 col-form-label">Категория</label>
            <div class="col-sm-10">
                <select id="category" class="custom-select"
                        name="category"
                        th:field="*{category}"
                        th:errorclass="is-invalid"
                        aria-describedby="categoryHelpInline">

                    <option value="-1" selected>Category</option>
                    <option value="1">SMARTPHONE</option>
                    <option value="2">PC</option>
                    <option value="3">TV</option>
                </select>

                <small id="categoryHelpInline"
                       class="invalid-feedback bg-danger text-light rounded">
                    Изберете категория.
                </small>
            </div>
        </div>
        <button type="submit" class="btn btn-info w-100">Добавяне</button>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>
