<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>
<a th:href="@{/}" class="btn btn-primary"><i class="material-icons"></i> <span>Начална страница</span></a>
<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <b>Потребители</b></div>
                </div>
            </div>
            <table id="hidden_row1" class="hidden_row table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Роля</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody th:each="user : ${allUsers}"
                       th:object="${user}">
                <tr>
                    <td th:text="*{id}"></td>
                    <td th:text="*{username}"></td>
                    <td th:text="*{email}"></td>
                    <td th:each="role : *{roles}"
                        th:text="${role.userRole}"></td>

                    <td>
                        <a th:href="@{/user/change-role/{id} (id = *{id})}" class="edit" title="Промени Роля"
                           data-toggle="tooltip">
                            <i class="material-icons"><span
                                    class="material-icons-outlined">Промени роля</span></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><b>Продукти</b></div>
                </div>
            </div>
            <table id="hidden_row2" class="hidden_row table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Име</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody th:each="product : ${allProducts}"
                       th:object="${product}">
                <tr>
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{price}"></td>

                    <td>
                        <a th:href="@{/product/delete/{id}(id = *{id})}" class="delete" title="Delete"
                           data-toggle="tooltip">
                            <i class="material-icons"><span
                                    class="material-icons-outlined">Изтрий</span></i></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <b>Всички поръчки</b></div>
            </div>
        </div>
        <table id="hidden_row3" class="hidden_row table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>№</th>
<!--                <th>Клиент</th>-->
                <th>Дата на поръчка</th>
                <th>Обща Сума</th>
            </tr>
            </thead>
            <tbody th:each="order : ${allOrders}"
                   th:object="${order}">
            <tr>
                <th th:text="*{id}"></th>
<!--                <td th:text="|*{getFirstName()} *{getLastName()}|"></td>-->
                <td th:text="*{dateOfOrder}"></td>
                <td th:text="|*{orderSum} лв.|"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>

</body>
</html>