<!DOCTYPE html>

<head>
    <span th:replace="~{fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div class="container">
    <form class="row no-gutters"
          th:action="@{/cart}"
          th:method="PATCH"
          th:object="${makeOrderDTO}">
        <div class="col-md-8">
            <div class="product-details mr-2">
                <div class="nav-item">
                    <a class="nav-link font-weight-bold" th:href="@{/product}">Продължи пазаруването</a>
                </div>
                <hr>
                <h6 class="text-white font-weight-bold">Количка</h6>
                <div class="cart_items"
                     th:each="product : ${selectedProduct}"
                     th:object="${product}">
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row">
                            <img class="rounded" th:src="*{'/images/' + img}" width="40">
                            <div class="ml-2">
                                <span class="font-weight-bold d-block" th:text="*{name}"></span>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <span class="d-block" th:text="|*{quantity} х|"></span>
                            <span class="d-block ml-5" th:text="|*{price} лв.|"></span>
                            <span class="d-block ml-5 font-weight-bold" th:text="|*{getProductSum} лв.|"></span>

                            <a class="ml-3 text-black btn btn-sm btn-secondary col-sm-1 font-weight-bold"
                               th:href="@{/cart/remove-product-from-list/{id}(id = *{id})}">Х</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex btn-block d-flex justify-content-between mt-3">
                    <span class="text-white font-weight-bold">Обща сума</span>
                    <span class="text-white font-weight-bold" th:text="|${sumForAllProducts} лв.|"></span>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="payment-info">
                <div class="d-flex justify-content-between align-items-center">
                    <span><h4 class="text-white font-weight-bold">Детайли за поръчката</h4></span><img
                        class="rounded"
                        width="30">
                </div>
                <span class="type d-block mt-3 mb-1"></span>
                <div>
                    <label for="address" class="credit-card-label">
                        <h6 class="text-white font-weight-bold">Адрес за доставка</h6>
                    </label>

                    <input type="text"
                           id="address"
                           name="address"
                           th:value="${address}"
                           th:field="*{address}"
                           th:errorclass="is-invalid"
                           class="form-control credit-inputs"
                           aria-describedby="addressHelpInline"
                           placeholder="Add Address">
                    <small id="addressHelpInline"
                           class="invalid-feedback bg-danger text-light rounded">
                        Въведете адрес с минимум 10 символа.
                    </small>
                </div>

                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-long-arrow-left"></i>
                    <button type="submit" class="btn btn-sm btn-secondary mb-1" th:href="@{/product/order/{id}}">
                        Направи поръчката
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
