<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <span th:replace="~{fragments/head}"></span>
</head>

<body>

<div>
    <nav th:replace="~{fragments/navigation}"></nav>
</div>

<div id="container-wrapper">

    <div id="root-details">
        <form th:action="@{/product/info/{id}}"></form>

        <h1 class="text-left text-black" th:text="*{productInfo.name}"></h1>
        <hr class="hr-2 bg-white w-30">

        <section id="actor-details" class="m-3">
            <div class="d-flex bg-light">
                <section id="movie-name-and-photo-left" class="p-1">
                    <div class="text-center m-auto p-lg-4">
                        <img id="image-actor"  width="450" height="450" th:src="*{'/images/' + productInfo.img}">
                    </div>
                    <h1 class="text-center text-dark">
                        <a class="btn btn-sm btn-secondary w-100" th:href="@{/purchase/{id}(id = *{id})}">Добави в кошницата</a>
                    </h1>
                </section>
                <section id="movie-description-right" class="p-1">
                    <div class="bg-light p-4 col-lg-6">
                        <h2 class="text-dark h4 " th:text="*{productInfo.description}"></h2>
                        <a class="btn btn-primary py-md-3 px-md-5 mt-2" th:text="|Цена: *{productInfo.price} лв.|"></a>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>

<div>
    <footer th:replace="~{fragments/footer}"></footer>
</div>
</body>
</html>